
.code-card {
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background-color: #F8FBFE;
    border-radius: 8px;
    z-index: 1;
   }
   
   .code-card > .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .code-card > .tools > .circle {
    padding: 0 4px;
   }
   
   .code-card  > .tools > .circle > .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .code-card  .red {
    background-color: #ff605c;
   }
   
   .code-card  .yellow {
    background-color: #ffbd44;
   }
   
   .code-card  .green {
    background-color: #00ca4e;
   }
   